# @Author: Stijn Van Hulle <stijnvanhulle>
# @Date:   2017-01-05T21:52:02+01:00
# @Email:  me@stijnvanhulle.be
# @Last modified by:   stijnvanhulle
# @Last modified time: 2017-01-08T20:11:58+01:00
# @License: stijnvanhulle.be



{
  "parser": "babel-eslint",
  "esnext": true,
  "esversion": "6",
  "plugins":["react"]
}
